<div class="dSub d2">
  <div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-paradiso-100">Programa</dt>
        <dd class="mt-1 text-sm leading-6 sm:col-span-2 sm:mt-0 text-paradiso-300">{{datosEstudiante?.programa}}</dd>
      </div>
      <!--
        <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-paradiso-100">Estado</dt>
          <dd class="mt-1 text-sm leading-6 sm:col-span-2 sm:mt-0 text-paradiso-300"> {{datosEstudiante?.estado}}</dd>
        </div>
      -->
      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-paradiso-100">Email address</dt>
        <dd class="mt-1 text-sm leading-6 sm:col-span-2 sm:mt-0 text-paradiso-300"> {{datosEstudiante?.email}}</dd>
      </div>
      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-paradiso-100">Telefono</dt>
        <dd class="mt-1 text-sm leading-6 sm:col-span-2 sm:mt-0 text-paradiso-300"> {{datosEstudiante?.telefono}}</dd>
      </div>
      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-paradiso-100">Fecha nacimiento</dt>
        <dd class="mt-1 text-sm leading-6 sm:col-span-2 sm:mt-0 text-paradiso-300"> {{datosEstudiante?.fecha_nacimiento}}</dd>
      </div>
    </dl>
  </div>
</div>
