<div class="text-center">
  <div class="header">
    <div class="dTitulo">
      <p class="text-paradiso-100 title-page">Meet our team.</p>
    </div>
    <div class="dSubtitulo">
      <p class="text-paradiso-600 info-p">We’re a dynamic group of individuals who are passionate about what we do.</p>
    </div>
  </div>
  <div class="body bg-paradiso-800">
    <div class="dImg">
      <div class="overflow-hidden dImg2">
        <img src="https://storage.googleapis.com/imagenes-guias/IMG1.jpg"
        class="rounded-full w-full h-full object-cover"
        alt="Descripción de la imagen">
      </div>
    </div>
    <div class="dDatos">
      <div class="dName">
        <p class="text-paradiso-50 name">Jean Martinez</p>
      </div>
      <div class="dDescription">
        <p class="text-paradiso-300 description">Ingeniero en Sistemas de Información</p>
      </div>
    </div>
    <div class="dRedes text-center">
      <div class="dBtn">
        <a href="https://www.linkedin.com/in/jean-alejandro-mart%C3%ADnez-garcia-b2637523b/" target="_blank"><i class='bx bxl-linkedin-square ic text-paradiso-50 hover:bg-paradiso-50 hover:text-paradiso-800 rounded-md px-4 py-3 text-sm font-medium'></i></a>
        <a href="https://www.facebook.com/profile.php?id=100053252297432&mibextid=ZbWKwL" target="_blank"><i class='bx bxl-facebook-circle ic text-paradiso-50 hover:bg-paradiso-50 hover:text-paradiso-800 rounded-md px-4 py-3 text-sm font-medium'></i></a>
      </div>
    </div>
  </div>

</div>
