@tailwind base;
@tailwind components;
@tailwind utilities;
/*Fuente principal*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@1,800&family=Poppins&display=swap');
/*Fuente secundaria*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jacques+Francois&family=JetBrains+Mono:ital,wght@0,800;1,800&family=Montserrat:ital,wght@1,800&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hammersmith+One&family=Jacques+Francois&family=JetBrains+Mono:ital,wght@0,800;1,800&family=Montserrat:ital,wght@1,800&family=Poppins&display=swap');

.hidden{
  display: none;
}
body{
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #1e1a34;
}
.shadow{
  background-color: #1e1a34;
}
.title-page{
  font-family: "JetBrains Mono", monospace;
  font-size: 30px;
  font-weight: 800;
}
.sub-title{
  font-family: "JetBrains Mono", monospace;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}
.agregar{
  color: white;
  font-size: 25px;
  padding: 8px;
  width: 40px;
  height: 40px;
}
.ver{
  background-color: #262626;
}
html, body { height: 100%; }
th, td{
  font-family: "JetBrains Mono", monospace;
}
