<div class="volver">
  <button class="bg-paradiso-100 iconS" matTooltip="Volver" routerLink="/persona/listado-inscritos">
    <mat-icon fontIcon="home"></mat-icon>
  </button>
</div>
<div class="contendor-principal">
  <div class="container-form">
    <h3 class="title text-center py-2">Creando horario para estudiante:<br> {{nombre}}</h3>
      <ng-container *ngIf="preview.length < 1">
        <div class="infor">
          <p class="title text-center py-2">Agrega las asignaturas disponibles en la segunda tabla.</p>
          <mat-icon matTooltip="Si en el segundo recuadro no carga la información es debido a que el estudiante no se ha realizado su carga academica."
            class="icon start bg-waikawa-gray-600" fontIcon="info">
          </mat-icon>
        </div>
      </ng-container>
      <ng-container *ngIf="preview.length > 0">
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          <div class="overflow-x-auto">
            <table mat-table [dataSource]="dataS" class="table-auto w-full border-collapse border tabla">
              <!--Id-->
              <ng-container matColumnDef="Dia">
                <th class="text-jade-400" mat-header-cell *matHeaderCellDef>Dia</th>
                <td mat-cell *matCellDef="let element">{{element.nombreDia}}</td>
              </ng-container>
              <!--Programa-->
              <ng-container matColumnDef="Asignatura">
                <th class="text-jade-400" mat-header-cell *matHeaderCellDef>Asignatura</th>
                <td mat-cell *matCellDef="let element"> {{element.asignatura}}</td>
              </ng-container>
              <!--Programa-->
              <ng-container matColumnDef="Salon">
                <th class="text-jade-400" mat-header-cell *matHeaderCellDef>Salon</th>
                <td mat-cell *matCellDef="let element"> {{element.nombreSalon}}</td>
              </ng-container>
              <ng-container matColumnDef="Hora">
                <th class="text-jade-400" mat-header-cell *matHeaderCellDef>Hora</th>
                <td mat-cell *matCellDef="let element"> {{element.horario}} </td>
              </ng-container>
              <ng-container matColumnDef="Jornada">
                <th class="text-jade-400 text-center" mat-header-cell *matHeaderCellDef>Jornada</th>
                <td mat-cell *matCellDef="let element"> {{element.jornada}}</td>
              </ng-container>
              <ng-container matColumnDef="Accion">
                <th class="text-jade-400" mat-header-cell *matHeaderCellDef>Remover</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <mat-icon matTooltip="Asignar horario" (click)="remove(element, i)" class="icon start bg-geraldine-600" fontIcon="remove"></mat-icon>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
          </div>
        </div>
      </ng-container>
  </div>

  <div class="preview-horarios">
    <ng-container *ngIf="dataSource.data.length > 0">
      <main>
        <div>
          <h3 class="title text-center py-2 text-jade-100">
            Horario disponible para {{datosPrograma?.nombre}}.
            <br>Semestre: {{semestre}}
          </h3>
        </div>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          <div class="overflow-x-auto">
            <table mat-table [dataSource]="dataSource" class="table-auto w-full border-collapse border tabla">
              <!--Id-->
              <ng-container matColumnDef="Dia">
                <th class="text-jade-400" mat-header-cell *matHeaderCellDef>Dia</th>
                <td mat-cell *matCellDef="let element">{{element.nombreDia}}</td>
              </ng-container>
              <!--name-->
              <ng-container matColumnDef="Cantidad">
                <th class="text-jade-400" mat-header-cell *matHeaderCellDef>Cantidad de estudiantes</th>
                <td mat-cell *matCellDef="let element">{{element.cantidadEstudiantes}}/25</td>
              </ng-container>
              <!--Programa-->
              <ng-container matColumnDef="Asignatura">
                <th class="text-jade-400" mat-header-cell *matHeaderCellDef>Asignatura</th>
                <td mat-cell *matCellDef="let element"> {{element.asignatura}}</td>
              </ng-container>
              <!--Programa-->
              <ng-container matColumnDef="Salon">
                <th class="text-jade-400" mat-header-cell *matHeaderCellDef>Salon</th>
                <td mat-cell *matCellDef="let element"> {{element.nombreSalon}}</td>
              </ng-container>
              <ng-container matColumnDef="Hora">
                <th class="text-jade-400" mat-header-cell *matHeaderCellDef>Hora</th>
                <td mat-cell *matCellDef="let element"> {{element.horario}} </td>
              </ng-container>
              <ng-container matColumnDef="Jornada">
                <th class="text-jade-400 text-center" mat-header-cell *matHeaderCellDef>Jornada</th>
                <td mat-cell *matCellDef="let element"> {{element.jornada}}</td>
              </ng-container>
              <ng-container matColumnDef="Accion">
                <th class="text-jade-400" mat-header-cell *matHeaderCellDef>Agregar</th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon matTooltip="Asignar horario" (click)="agregarHorario(element)" class="icon start bg-jade-800" fontIcon="add"></mat-icon>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </main>
    </ng-container>
  </div>
</div>

<div class="buton-space">
  <ng-container *ngIf="cargaEstudainte.length > 0">
    <button  type="submit" (click)="finalizar()" class="bg-jade-400 hover:bg-jade-800 text-paradiso-950 hover:text-white font-bold py-2 px-4 rounded but">
      Finalizar
    </button>
  </ng-container>
</div>
